<p id="notice"><%= notice %></p>

<p>
  <strong>The Spooky Picture that best represents <%= @spooker.name %> is:</strong>
</p>

<p>
  <%= image_tag "images-"+@spooker.picture+".jpg" %>
</p>

<%= @spooker.story %>
<%= @spooker.darkness %>


<p>
  <strong>Congratulations!</strong>
</p>

<p>
  <%= link_to 'Back', spookers_path %>
</p>
